/* Common Styles */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.headertext {
    flex: 1;
}

.title {
    margin-top: 30px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    /* Styles for screens smaller than 768px (e.g., mobile) */
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile {
        margin-bottom: 10px;
    }

    .skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .technology-skills,
    .framework-skills,
    .soft-skills {
        width: 100%;
        margin-bottom: 20px;
    }

    .contacts a {
        display: block;
        margin-bottom: 10px;
    }
}

/* Styles for all screens */
/* Add your own styles here */

